
<!DOCTYPE html>
<html>
<head></head>
    <body onload="InitThis();">
        <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js" type="text/javascript"></script>
        <script type="text/javascript" >

        </script>
        <div align="center">
            <canvas id="myCanvas" width="400" height="400" style="border:2px solid black"></canvas>
            <br/><br/>

            <button onclick="javascript:clearArea();return false;">Clear Area</button>

            <form method="POST">
            <button onclick="PredictNumber()">Predict Test</button>
            </form>
            <form method="POST">
                <input id="saveButton" type="button" value="Save" size="30" onclick="sendImage()">
            </form>

            <h1 id="predictedNumberHeader">Predicted number: </h1>
            <h1 id="predict"></h1>
        </div>
    </body>
</html>